.col-xs.center-elements
    .col-xs.text-center
        a(href='#') Footer link
    .col-xs.text-center
        a(href='#') Footer link
    .col-xs.text-center
        a(href='#') Footer link
    .col-xs.text-center
        a(href='#') Footer link
    .col-xs.text-center
        a(href='#') Footer link