nav.sticky-top.container-fluid
    ul
        li
            strong Brand
    ul
        li
            a(href='#') Link
        li
            a(href='#') Link
        li
            a(href='#' role='button') Button