// taken from https://github.com/kristoferjoseph/flexboxgrid and converted to scss

.d {
	&-flex {
		display: flex;
	}

	&-inline {
		&-flex {
			display: inline-flex;
		}
	}
}

.row {
	box-sizing: border-box;
	display: -webkit-box;
	display: flex;
	-webkit-box-flex: 0;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row wrap;
	margin-right: -0.5rem;
	margin-left: -0.5rem;

	&.reverse {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		flex-direction: row-reverse;
	}
}

.col {
	&.reverse {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		flex-direction: column-reverse;
	}
}

@mixin base {
	box-sizing: border-box;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

@mixin breakpoint {
	@include base;

	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%;
}

@each $breakpoint, $size in $breakpoints {
	@media only screen and (min-width: $size) {
		.col {
			&-#{$breakpoint} {
				@include breakpoint;

				&-1 {
					@include breakpoint;

					-ms-flex-preferred-size: 8.3333%;
					flex-basis: 8.3333%;
					max-width: 8.3333%;
				}

				&-2 {
					@include breakpoint;

					-ms-flex-preferred-size: 16.6667%;
					flex-basis: 16.6667%;
					max-width: 16.6667%;
				}

				&-3 {
					@include breakpoint;

					-ms-flex-preferred-size: 25%;
					flex-basis: 25%;
					max-width: 25%;
				}

				&-4 {
					@include breakpoint;

					-ms-flex-preferred-size: 33.3333%;
					flex-basis: 33.3333%;
					max-width: 33.3333%;
				}

				&-5 {
					@include breakpoint;

					-ms-flex-preferred-size: 41.6667%;
					flex-basis: 41.6667%;
					max-width: 41.6667%;
				}

				&-6 {
					@include breakpoint;

					-ms-flex-preferred-size: 50%;
					flex-basis: 50%;
					max-width: 50%;
				}

				&-7 {
					@include breakpoint;

					-ms-flex-preferred-size: 58.3333%;
					flex-basis: 58.3333%;
					max-width: 58.3333%;
				}

				&-8 {
					@include breakpoint;

					-ms-flex-preferred-size: 66.6667%;
					flex-basis: 66.6667%;
					max-width: 66.6667%;
				}

				&-9 {
					@include breakpoint;

					-ms-flex-preferred-size: 75%;
					flex-basis: 75%;
					max-width: 75%;
				}

				&-10 {
					@include breakpoint;

					-ms-flex-preferred-size: 83.3333%;
					flex-basis: 83.3333%;
					max-width: 83.3333%;
				}

				&-11 {
					@include breakpoint;

					-ms-flex-preferred-size: 91.6667%;
					flex-basis: 91.6667%;
					max-width: 91.6667%;
				}

				&-12 {
					@include breakpoint;

					-ms-flex-preferred-size: 100%;
					flex-basis: 100%;
					max-width: 100%;
				}

				&-offset {
					&-0 {
						@include breakpoint;

						margin-left: 0;
					}

					&-1 {
						@include breakpoint;

						margin-left: 8.3333%;
					}

					&-2 {
						@include breakpoint;

						margin-left: 16.6667%;
					}

					&-3 {
						@include breakpoint;

						margin-left: 25%;
					}

					&-4 {
						@include breakpoint;

						margin-left: 33.3333%;
					}

					&-5 {
						@include breakpoint;

						margin-left: 41.6667%;
					}

					&-6 {
						@include breakpoint;

						margin-left: 50%;
					}

					&-7 {
						@include breakpoint;

						margin-left: 58.3333%;
					}

					&-8 {
						@include breakpoint;

						margin-left: 66.6667%;
					}

					&-9 {
						@include breakpoint;

						margin-left: 75%;
					}

					&-10 {
						@include breakpoint;

						margin-left: 83.3333%;
					}

					&-11 {
						@include breakpoint;

						margin-left: 91.6667%;
					}
				}
			}
		}

		.start-#{$breakpoint} {
			@include base;

			-webkit-box-pack: start;
			-ms-flex-pack: start;
			justify-content: flex-start;
			text-align: start;
		}

		.center-#{$breakpoint} {
			@include base;

			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			text-align: center;
		}

		.end-#{$breakpoint} {
			@include base;

			-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: flex-end;
			text-align: end;
		}

		.top-#{$breakpoint} {
			@include base;

			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
		}

		.middle-#{$breakpoint} {
			@include base;

			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}

		.bottom-#{$breakpoint} {
			@include base;

			-webkit-box-align: end;
			-ms-flex-align: end;
			align-items: flex-end;
		}

		.around-#{$breakpoint} {
			@include base;

			-ms-flex-pack: distribute;
			justify-content: space-around;
		}

		.between-#{$breakpoint} {
			@include base;

			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}

		.first-#{$breakpoint} {
			@include base;

			-webkit-box-ordinal-group: 0;
			-ms-flex-order: -1;
			order: -1;
		}

		.last-#{$breakpoint} {
			@include base;

			-webkit-box-ordinal-group: 2;
			-ms-flex-order: 1;
			order: 1;
		}
	}
}
