.center-elements {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sticky {
	&-top {
		position: sticky;
		-webkit-position: sticky;
		z-index: 1;
		top: 0;
	}

	&-bottom {
		position: sticky;
		-webkit-position: sticky;
		z-index: 1;
		bottom: 0;
	}
}

.drop-shadow {
	box-shadow: 1px 4px 5px 0 #0003;
}

.text {
	&-center {
		text-align: center;
	}

	&-start {
		text-align: start;
	}

	&-end {
		text-align: end;
	}

	&-decoration {
		&-none {
			text-decoration: none;
		}
	
		&-underline {
			text-decoration: underline;
		}
	}
}